@property --complete {
  initial-value: 0;
  syntax: '<number>';
  inherits: true;
}

.btn {
  @apply relative box-border flex rounded-full border border-transparent bg-white bg-clip-padding p-[1px] text-sm font-bold shadow-sm shadow-[#D9E4F0E5] dark:bg-dark-button dark:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)];
  @apply before:absolute before:-inset-[1px] before:-z-[1] before:rounded-[inherit] before:content-[''];
  @apply after:absolute after:-inset-[1px] after:-z-[1] after:rounded-[inherit] after:content-[''];

  &:after {
    @apply bg-gradient-to-br from-[#D8CCFF] to-[#8A63FF] dark:from-[#42C8F3] dark:to-[#B6EDFF];
    mask: conic-gradient(
      from calc(var(--from, 0) * 1deg),
      #000 calc(var(--complete) * 1%),
      #0000 calc(var(--complete) * 1%)
    );
    transition: --complete 500ms;
    transition-timing-function: linear(
      0 0%,
      0.0027 3.64%,
      0.0106 7.29%,
      0.0425 14.58%,
      0.0957 21.87%,
      0.1701 29.16%,
      0.2477 35.19%,
      0.3401 41.23%,
      0.5982 55.18%,
      0.7044 61.56%,
      0.7987 68.28%,
      0.875 75%,
      0.9297 81.25%,
      0.9687 87.5%,
      0.9922 93.75%,
      1 100%
    );
  }
}

.btn:is(:hover, :focus-visible) {
  --complete: 100;
}
