@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --background-image-dots-dark: url('/images/dots-dark.svg');
  --background-image-dots-light: url('/images/dots-light.svg');
  --background-image-gradient-light: background: radial-gradient(
      77% 77% at 50% 0%,
      #edecfc 0%,
      rgba(237, 236, 252, 0) 100%
    );
  --background-image-gradient-dark: radial-gradient(
    77% 77% at 50% 0%,
    #586984 0%,
    rgba(88, 105, 132, 0) 100%
  );

  --color-dark-background: oklch(13.85% 0.025 273.24);
  --color-dark-border: oklch(23.8% 0.04 266.76);
  --color-dark-button: oklch(21.57% 0.029 280.68);
  --color-dark-card: oklch(18.74% 0.024 280.08);
  --color-dark-icon: oklch(71.44% 0.019 264.45);
  --color-dark-input-bg: oklch(21.63% 0.031 280.68);
  --color-dark-input-border: oklch(28.08% 0.048 281.19);
  --color-dark-input-border-focused: oklch(45.84% 0.078 281.04);
  --color-dark-player: oklch(22.61% 0.035 280.78);
  --color-dark-text-body: oklch(61.91% 0.019 264.42);
  --color-light-card: oklch(97.65% 0.005 274.97);
  --color-light-icon: oklch(67.65% 0.043 285.21);
  --color-light-input-bg: oklch(100% 0 0);
  --color-light-input-border: oklch(88.09% 0.018 234.53);
  --color-light-input-border-focused: oklch(57.79% 0.03 234.37);
  --color-light-player: oklch(95.94% 0.009 279.69);
  --color-light-text-body: oklch(59.68% 0.017 285.89);
  --color-light-text-heading: oklch(30.55% 0.052 292.57);

  --font-inter: Inter, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
