---
import Layout from '../layouts/Layout.astro';
import FourZeroFourIllustration from '../components/illustrations/404Illustration.astro';
---

<Layout title="404 - Not found">
  <div
    class="relative z-10 flex flex-col items-center justify-center px-8 lg:px-18"
  >
    <FourZeroFourIllustration />

    <div class="mt-12 flex justify-center pb-16">
      <button class="btn" onclick="history.back()">
        <span
          class="rounded-full px-10 py-3 text-center text-sm text-light-text-heading dark:text-white"
        >
          Go back
        </span>
      </button>
    </div>
  </div>
</Layout>
