---
import { getEntry } from 'astro:content';

import FormattedDate from '../components/FormattedDate';
import Layout from '../layouts/Layout.astro';
import { getAllEpisodes } from '../lib/rss';

export async function getStaticPaths() {
  const allEpisodes = await getAllEpisodes();

  return allEpisodes.flatMap((episode) => {
    return [
      {
        params: { episode: episode.episodeNumber },
        props: { episode }
      },
      {
        params: { episode: episode.episodeSlug },
        props: { episode }
      }
    ];
  });
}

const { episode } = Astro.props;

let Transcript;

if (episode.episodeNumber && episode.episodeNumber !== 'Bonus') {
  // @ts-expect-error TODO: investigate this type error more
  Transcript = await getEntry('transcripts', episode.episodeNumber);
  if (Transcript) {
    const { Content } = await Transcript.render();
    Transcript = Content;
  }
}
---

<Layout title={episode.title}>
  <div class="relative z-10 px-8 lg:px-18">
    <FormattedDate date={new Date(episode.published)} />

    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      {episode.episodeNumber}: {episode.title}
    </h1>

    <p
      class="prose prose-stone mb-5 dark:prose-invert"
      set:html={episode.content}
    />

    {
      Transcript && (
        <article class="prose prose-stone dark:prose-invert">
          <Transcript />
        </article>
      )
    }
  </div>
</Layout>
