---
import Layout from '@layouts/Layout.astro';
import { getAllEpisodes } from '@lib/rss';

export async function getStaticPaths() {
  const allEpisodes = await getAllEpisodes();

  return allEpisodes.flatMap((episode) => {
    return [
      {
        params: { episode: episode.episodeNumber },
        props: { episode }
      },
      {
        params: { episode: episode.episodeSlug },
        props: { episode }
      }
    ];
  });
}

const { episode } = Astro.props;
---

<Layout title={episode.title}>
  <h1 class="text-5xl font-bold text-light-text-heading dark:text-white">
    {episode.episodeNumber}: {episode.title}
  </h1>
</Layout>
