---
import FormattedDate from '../components/FormattedDate';
import Layout from '../layouts/Layout.astro';
import { getAllEpisodes } from '../lib/rss';

export async function getStaticPaths() {
  const allEpisodes = await getAllEpisodes();

  return allEpisodes.flatMap((episode) => {
    return [
      {
        params: { episode: episode.episodeNumber },
        props: { episode }
      },
      {
        params: { episode: episode.episodeSlug },
        props: { episode }
      }
    ];
  });
}

const { episode } = Astro.props;
---

<Layout title={episode.title}>
  <div class="relative z-10 px-8 lg:px-18">
    <FormattedDate date={new Date(episode.published)} />

    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      {episode.episodeNumber}: {episode.title}
    </h1>

    <p class="mb-5">{episode.description}</p>
  </div>
</Layout>
