---
export async function getStaticPaths({ paginate }) {
  const response = await fetch('http://localhost:4321/episodes.json');
  const data = await response.json();
  console.log(data);
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(data, { pageSize: 2 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!--Display the current page number. Astro.params.page can also be used!-->
<h1>Page {page.currentPage}</h1>
<ul>
  <!--List the array of astronaut info-->
  {page.data.map(({ episodeSlug }) => <li>{episodeSlug}</li>)}
</ul>
