---
import Layout from '@layouts/Layout.astro';
import { getAllEpisodes } from '@lib/episodes';

export async function getStaticPaths() {
  const allEpisodes = await getAllEpisodes();

  return allEpisodes.map((episode) => {
    return {
      params: { slug: episode.episodeSlug },
      props: { episode }
    };
  });
}

const { episode } = Astro.props;
---

<Layout title={episode.title}>
  <h1>{episode.title}</h1>
</Layout>
