---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm';
---

<Layout title="Contact">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      Get in touch
    </h1>

    <p class="mb-8">
      Have a question for us or a topic you would like us to cover on the show?
      Reach out here and we'll be in touch soon!
    </p>

    <ContactForm client:load />
  </div>
</Layout>
