---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      Get in touch
    </h1>
  </div>
</Layout>
