---
const episodes = await fetch('http://localhost:4321/api/episodes/1.json');
const page = await episodes.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <!--Display the current page number. Astro.params.page can also be used!-->
    <h1>Page {page.currentPage}</h1>
    <ul>
      <!--List the array of episode info-->
      {page.data.map(({ episodeSlug }) => <li>{episodeSlug}</li>)}
    </ul>
  </body>
</html>
