---
import Layout from '../layouts/Layout.astro';
import EpisodeList from '../components/EpisodeList';
import { getAllEpisodes, getShowInfo } from '../lib/rss';
const allEpisodes = await getAllEpisodes();
const episodes = allEpisodes.slice(0, 15);
const show = await getShowInfo();
const title = `${show.title}`;
---

<Layout title={title}>
  <div class="relative z-10 px-8 lg:px-18">
    <h1 class="text-4xl font-bold text-light-text-heading dark:text-white">
      Episodes
    </h1>

    <EpisodeList client:visible episodes={episodes} url={Astro.url} />
  </div>
</Layout>
