---
export interface Props {
  bullets: Array<string>;
  heading: string;
  price: string;
  productId: string;
}

const { bullets, heading, price, productId } = Astro.props;
---

<div class="dark:bg-dark-background relative z-10 mb-6 rounded-lg bg-white p-1">
  <h2
    class="bg-light-card text-light-text-heading dark:bg-dark-card px-5 py-4 font-bold lg:py-6 dark:text-white"
  >
    {heading}
  </h2>

  <ul class="list-disc px-8">
    {
      bullets.map((bullet) => {
        return <li class="dark:border-dark-border border-b py-6">{bullet}</li>;
      })
    }

    <h3
      class="text-light-text-heading mt-8 mb-12 px-5 text-4xl font-bold tabular-nums dark:text-white"
    >
      {price}
      <span
        class="text-light-text-body dark:text-dark-text-body text-3xl font-light"
      >
        /
      </span>
      <span class="text-light-text-body dark:text-dark-text-body text-2xl">
        per episode
      </span>
    </h3>

    <div class="flex w-full">
      <a class="btn mb-8 w-full justify-center" href={`/api/checkout?products=${productId}`}>
        <span
          class="text-light-text-heading rounded-full px-8 py-3 text-center text-sm dark:text-white"
        >
          Become a sponsor
        </span>
      </a>
    </div>
  </ul>
</div>
