---
export interface Props {
  bullets: Array<string>;
  heading: string;
  price: string;
}

const { bullets, heading, price } = Astro.props;
---

<div class="relative z-10 mb-6 rounded-lg bg-white p-1 dark:bg-dark-background">
  <h2
    class="bg-light-card px-5 py-4 font-bold text-light-text-heading lg:py-6 dark:bg-dark-card dark:text-white"
  >
    {heading}
  </h2>

  <ul class="list-disc px-8">
    {
      bullets.map((bullet) => {
        return <li class="border-b py-6 dark:border-dark-border">{bullet}</li>;
      })
    }

    <h3
      class="mb-12 mt-8 px-5 text-4xl font-bold tabular-nums text-light-text-heading dark:text-white"
    >
      {price}
      <span
        class="text-3xl font-light text-light-text-body dark:text-dark-text-body"
      >
        /
      </span>
      <span class="text-2xl text-light-text-body dark:text-dark-text-body">
        per episode
      </span>
    </h3>

    <div class="flex w-full">
      <a class="btn mb-8 w-full justify-center" href="/contact">
        <span
          class="rounded-full px-8 py-3 text-center text-sm text-light-text-heading dark:text-white"
        >
          Become a sponsor
        </span>
      </a>
    </div>
  </ul>
</div>
