---
export interface Props {
  heading: string;
  price: string;
}

const { heading, price } = Astro.props;
---

<div class="rounded-lg bg-white p-1 dark:bg-dark-background">
  <h2
    class="bg-dark-card px-5 py-4 font-bold text-light-text-heading lg:py-6 dark:text-white"
  >
    {heading}
  </h2>

  <ul class="list-disc px-8">
    <li class="border-b py-6 dark:border-dark-border">Item 1</li>
    <li class="border-b py-6 dark:border-dark-border">Item 2</li>
    <li class="border-b py-6 dark:border-dark-border">Item 3</li>
  </ul>

  <h3
    class="mb-12 mt-8 px-5 text-4xl font-bold text-light-text-heading dark:text-white"
  >
    {price}
  </h3>
</div>
