<div class="absolute top-0 left-0 flex h-12 w-full justify-center p-2">
  <div class="bg-dots-light dark:bg-dots-dark twinkle h-12 w-full bg-repeat-x"></div>
</div>

<style>
  .twinkle {
    animation: twinkle 8s ease-in-out infinite;
  }

  @keyframes twinkle {
    0%, 92%, 100% {
      opacity: 1;
    }
    96% {
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .twinkle {
      animation: none;
      opacity: 1;
    }
  }
</style>
