---
import starpodConfig from '../../starpod.config';

const { hosts } = starpodConfig;
---

<h3 class="section-heading mb-6 mt-12">Hosted By</h3>

{
  hosts.map((host) => (
    <div class="mb-4 flex items-center">
      <img class="mr-4 h-12 w-12" height={48} src={host.img} width={48} />
      {host.name}
    </div>
  ))
}
