---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import starpodConfig from '../../starpod.config';

const { hosts } = starpodConfig;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/img/*.{jpeg,jpg,png}'
);
---

<div
  class="mx-2 mt-2 rounded-lg px-4 pb-12 pt-12 bg-light-card sm:px-6 md:px-4 lg:mx-0 lg:mt-0 lg:px-16 lg:pb-0 dark:bg-dark-card"
>
  <h3 class="section-heading pb-6">Hosted By</h3>

  {
    hosts.map((host) => (
      <div class="mb-4 flex items-center">
        <Image
          class="mr-4 h-12 w-12 rounded-lg"
          height={48}
          src={images[`/src/img/${host.img}`]()}
          width={48}
          alt=""
        />
        {host.name}
      </div>
    ))
  }
</div>
