---
import starpodConfig from 'starpod.config';
---

<h3 class="mb-6 mt-12 text-xs font-bold uppercase">Hosted By</h3>

{
  starpodConfig.hosts.map((host) => (
    <div class="mb-4 flex items-center">
      <img class="mr-4 h-12 w-12" height={48} src={host.img} width={48} />
      {host.name}
    </div>
  ))
}
