<div
  class="m-2 mb-2 rounded-lg bg-light-card px-4 py-12 sm:px-6 md:px-4 lg:px-16 dark:bg-dark-card"
>
  <a class="animated-bottom-border block pt-5 after:mt-5" href="/about">
    About</a
  >
  <a class="animated-bottom-border block pt-5 after:mt-5" href="/contact">
    Contact
  </a>
  <a
    class="animated-bottom-border block pt-5 after:mt-5"
    href="https://whiskey.fund/"
  >
    Store
  </a>
  <a class="animated-bottom-border block pt-5 after:mt-5" href="/sponsor">
    Become a sponsor
  </a>
</div>
