<a class="block border-b py-5 dark:border-dark-border" href="/about">About</a>
<a class="block border-b py-5 dark:border-dark-border" href="/contact"
  >Contact</a
>
<a class="block border-b py-5 dark:border-dark-border" href="/sponsor"
  >Become a sponsor</a
>
