<a class="animated-bottom-border block pt-5 after:mt-5" href="/about"> About</a>
<a class="animated-bottom-border block pt-5 after:mt-5" href="/contact">
  Contact
</a>
<a class="animated-bottom-border block pt-5 after:mt-5" href="/sponsor">
  Become a sponsor
</a>
