---
import { Image } from 'astro:assets';
import AppleIcon from '../svgs/apple.svg';
import OvercastIcon from '../svgs/overcast.svg';
import SpotifyIcon from '../svgs/spotify.svg';
import YouTubeIcon from '../svgs/youtube.svg';
---

<h3 class="mb-6 mt-12 text-xs font-bold uppercase">Listen</h3>

<div class="flex gap-6">
  <a href=""><Image src={SpotifyIcon} alt="" /></a>
  <a href=""><Image src={AppleIcon} alt="" /></a>
  <a href=""><Image src={OvercastIcon} alt="" /></a>
  <a href=""><Image src={YouTubeIcon} alt="" /></a>
</div>
