---
import starpodConfig from '../../starpod.config';

const { platforms } = starpodConfig;
---

<h3 class="section-heading pb-6 pt-12 hidden lg:block">Listen</h3>

<div
  class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start"
>
  {
    platforms?.spotify && (
      <a class="gradient-icon spotify h-6 w-6" href={platforms.spotify} />
    )
  }
  {
    platforms?.apple && (
      <a class="gradient-icon apple h-6 w-6" href={platforms.apple} />
    )
  }
  {
    platforms?.overcast && (
      <a class="gradient-icon overcast h-6 w-6" href={platforms.overcast} />
    )
  }
  {
    platforms?.youtube && (
      <a class="gradient-icon youtube h-7 w-7" href={platforms.youtube} />
    )
  }
</div>

<style>
  .apple {
    mask-image: url(/images/apple.svg);
  }

  .overcast {
    mask-image: url(/images/overcast.svg);
  }
  .spotify {
    mask-image: url(/images/spotify.svg);
  }

  .youtube {
    mask-image: url(/images/youtube.svg);
  }
</style>
