---
import { Image } from 'astro:assets';
import AppleIcon from '@svgs/apple.svg';
import OvercastIcon from '@svgs/overcast.svg';
import SpotifyIcon from '@svgs/spotify.svg';
import YouTubeIcon from '@svgs/youtube.svg';
---

<h3 class="mb-6 mt-12 text-xs font-bold uppercase">Listen</h3>

<div class="flex gap-6">
  <Image src={SpotifyIcon} alt="" />
  <Image src={AppleIcon} alt="" />
  <Image src={OvercastIcon} alt="" />
  <Image src={YouTubeIcon} alt="" />
</div>
