---
export interface Props {
  image: string;
}

const { image } = Astro.props;
---

<a href="/" aria-label="Homepage">
  <div class="px-4 sm:px-6 md:px-4 lg:px-16">
    <div class="atropos show-art">
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner">
            <div
              class="relative mx-auto block w-48 overflow-hidden rounded-lg sm:w-64 sm:rounded-xl lg:w-auto lg:rounded-2xl"
            >
              <img
                class="w-full"
                src={image}
                alt=""
                height="321"
                width="321"
                loading="eager"
                fetchpriority="high"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<script>
  import Atropos from 'atropos';

  Atropos({
    el: '.show-art'
  });
</script>
