---
export interface Props {
  image: string;
}

const { image } = Astro.props;
---

<div class="px-4 sm:px-6 md:px-4 lg:px-16">
  <div class="atropos show-art">
    <div class="atropos-scale">
      <div class="atropos-rotate">
        <div class="atropos-inner">
          <a
            href="/"
            class="relative mx-auto block w-48 overflow-hidden rounded-lg sm:w-64 sm:rounded-xl lg:w-auto lg:rounded-2xl"
            aria-label="Homepage"
          >
            <img class="w-full" src={image} alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import Atropos from 'atropos';

  document.addEventListener('astro:page-load', () => {
    Atropos({
      el: '.show-art'
    });
  });
</script>
