@reference '../../../styles/tailwind.css';

.slider {
  @apply relative m-0 block h-1.5 w-full appearance-none rounded-none p-0 outline-none;

  &::-webkit-slider-runnable-track {
    @apply h-1.5 w-full cursor-pointer border-none bg-gray-200 outline-none dark:bg-gray-700;
  }
  &::before {
    @apply h-1.5 bg-gradient-to-r from-[#D8CCFF] to-[#8A63FF] dark:from-[#42C8F3] dark:to-[#B6EDFF];
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: var(--seek-before-width);
    cursor: pointer;
  }
  &::-webkit-slider-thumb {
    @apply relative -mt-[5px] box-content h-4 w-4 cursor-pointer appearance-none bg-contain bg-no-repeat transition-opacity duration-300 lg:opacity-0;
    background-image: url('/images/rocket-dark.svg');
    background-position: center center;
    box-shadow: none;
    background-color: #0000;
  }
  &::-moz-range-track {
    @apply h-1.5 w-full cursor-pointer border-none bg-gray-200 outline-none dark:bg-gray-700;
  }
  &::-moz-range-progress {
    @apply h-1.5 bg-gradient-to-r from-[#D8CCFF] to-[#8A63FF] dark:from-[#42C8F3] dark:to-[#B6EDFF];
  }
  &::-moz-focus-outer {
    border: 0;
  }
  &::-moz-range-thumb {
    @apply h-4 w-4 cursor-pointer appearance-none border-0 bg-transparent bg-contain bg-no-repeat transition-opacity duration-300 outline-none lg:opacity-0;
    background-image: url('/images/rocket-dark.svg');
    background-position: center center;
  }

  @media (prefers-color-scheme: light) {
    &::-webkit-slider-thumb {
      background-image: url('/images/rocket-light.svg');
    }
    &::-moz-range-thumb {
      background-image: url('/images/rocket-light.svg');
    }
  }

  &:hover {
    &::-webkit-slider-thumb {
      @apply opacity-100;
    }

    &::-moz-range-thumb {
      @apply opacity-100;
    }
  }

  &:not(:hover) ~ .ship-particles {
    display: none;
  }
}

.ship-particles {
  left: max(0px, var(--seek-particles-left));

  > div {
    animation:
      ship-particles-x 1s ease infinite,
      ship-particles-y 1s ease infinite;
    animation-composition: add;
    background-color: #B0ECFF;
    opacity: 0;

    @media (prefers-color-scheme: light) {
      background-color: #906BFF;
    }

    &:nth-child(1) {
      animation-delay: 0.4s;
      --y-offset: -10px;
      --x-offset: -20px;
    }
    &:nth-child(2) {
      animation-delay: 0.8s;
      --y-offset: -20px;
      --x-offset: -15px;
    }
    &:nth-child(3) {
      animation-delay: 0.1s;
      --y-offset: 15px;
      --x-offset: -25px;
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
      --y-offset: 25px;
      --x-offset: -10px;
    }
    &:nth-child(5) {
      animation-delay: 0.7s;
      --y-offset: 17px;
      --x-offset: -15px;
    }
  }
}

@keyframes ship-particles-x {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(var(--x-offset)) scale(.25) translateY(var(--y-offset));
  }
}

@keyframes ship-particles-y {
  0%, 15% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--y-offset));
  }
}
